<%= simple_form_for task do |f| %>

  <%= f.input :title %>
  <div class="form-actions mt-2">
    <%= f.hidden_field :todo_id, value: todo.id %>
  </div>
  <div class="form-actions mt-2">
    <%= f.submit "Save", class: 'btn btn-dark' %>
  </div>
<% end %>
